.body-container {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.pokemon-list-container {
  padding: 10px;
  background-color: #314694;
  margin: 0px 107px;
  border-radius: 10px;
}

.DropDown-Bar {
  width: calc(100% - 216px);
  min-height: max-content;
  margin: 10px 107px;
  display: flex;
  gap: 30px;
  height: max-content;
  justify-content: center;
}

.DropDown-Bar .filter-btn {
  cursor: pointer;
  margin: 10px 20px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
  background: #f5ce18;
  box-shadow: none;
}

.DropDown-Bar .selected {
  border-bottom: 4px solid black;
  font-size: 15px;
  font-weight: 800;
  box-shadow: 5px 5px;
}

.select-pokemon {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
}

.select-pokemon .selection {
  width: 70%;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}
