.pokemon-list-container {
  padding: 10px;
  background-color: lightgray;
  margin: 0px 107px;
}

.DropDown-Bar {
  width: calc(100% - 216px);
  min-height: max-content;
  margin: 10px 107px;
  display: flex;
  gap: 30px;
  height: max-content;
  justify-content: space-between;
}

.visible-pokemon {
  cursor: pointer;
  font-size: 50px;
}

.DropDown-Bar .favourite-btn {
  cursor: pointer;
  margin: 10px 20px;
  padding: 10px;
}
