.header {
  height: 350px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(https://www.impericon.com/cdn/shop/collections/20161101_pokemon_mobile_2x_0e5e6082-2584-43d3-aba2-6f51082fee6a.jpg?v=1720177600);
  margin: auto;
  background-position: center;
}
.header .logo {
  height: 150px;
  width: 250px;
  background-color: #f0f0f0;
}

.header .title-container {
  font-size: 30px;
  color: yellow;
  background-color: darkblue;
}

.header .pokemon-pic .title-pokemon-pic {
  height: 150px;
  width: 250px;
  background-color: #f0f0f0;
}
